<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI02_作业(僵尸).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49DA17A81C21087A00B15F7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49DA17C11C21087A00B15F7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49DA17CC1C21087A00B15F7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
