<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI14_UILayer圆角_阴影.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49C7A2E21C33C843001D1C56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49C7A2FB1C33C844001D1C56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49C7A3061C33C844001D1C56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
